<!-- login form -->
<div class="row d-flex justify-content-center">
  @if (isSuccess) {
  <ngb-alert class="col-6" type="success">Login successful.</ngb-alert>
  } @else if (isFailed) {
  <ngb-alert class="col-6" type="danger">Error: {{ statusMessage }}</ngb-alert>
  }
  <h1 class="text-center">Login</h1>
  <form
    class="col-6"
    [formGroup]="loginForm"
    (ngSubmit)="loginHandler(loginForm)"
  >
    <!-- username or email -->
    <div class="mb-3">
      <label for="usernameOrEmail" class="form-label">Username or Email</label>
      <input
        type="email"
        class="form-control"
        id="usernameOrEmail"
        formControlName="usernameOrEmail"
        [ngClass]="{
          'is-invalid': loginForm.get('usernameOrEmail')?.errors,
          'is-valid': !loginForm.get('usernameOrEmail')?.errors
        }"
      />
      <div class="invalid-feedback">Please provide a Username or Email.</div>
    </div>

    <!-- password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': loginForm.get('password')?.errors,
          'is-valid': !loginForm.get('password')?.errors
        }"
      />
      <div class="invalid-feedback">Please provide a Password.</div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</div>
