<!-- register form -->
<div class="row d-flex justify-content-center">
  <h1 class="text-center">Sign Up</h1>
  <form
    class="col-6"
    [formGroup]="registerForm"
    (ngSubmit)="registerHandler(registerForm)"
  >
    <!-- name -->
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        [ngClass]="{
          'is-invalid': registerForm.get('name')?.errors,
          'is-valid': !registerForm.get('name')?.errors
        }"
      />
      <div class="invalid-feedback">Please provide a Name.</div>
    </div>

    <!-- username -->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        [ngClass]="{
          'is-invalid': registerForm.get('username')?.errors,
          'is-valid': !registerForm.get('username')?.errors
        }"
      />
      <div class="invalid-feedback">Please provide a Username.</div>
    </div>

    <!-- email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid': registerForm.get('email')?.errors,
          'is-valid': !registerForm.get('email')?.errors
        }"
      />
      <div class="invalid-feedback">Please provide a valid Email.</div>
    </div>

    <!-- password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': registerForm.get('password')?.errors,
          'is-valid': !registerForm.get('password')?.errors,
        }"
      />
      <div class="invalid-feedback">Password minimum 6 character.</div>
    </div>

    <!-- confirm password -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid': registerForm.hasError('PasswordNoMatch'),
        }"
      />
      <div class="invalid-feedback">Password does'nt match.</div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Login
    </button>
  </form>
</div>
